<!DOCTYPE html>
<html>
<head>
	<title>Ruby Virtual Reality</title>
	<meta charset="ISO-8859-1">
	<script src="js/aframe.min.js"></script>
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/cargo-loader.js"></script>
</head>

<body>
    <a-scene id="holodeck">
      <a-sky color="#ECECEC"></a-sky>
    </a-scene>
</body>

</html>