<!DOCTYPE html>
<html>

<head>
	<title>Cargo Sender</title>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="css/style-cargo-sender.css">
</head>

<body>

	<h1>Cargo Sender</h1>

	<form method="post" action="/cargo-sender">

		<label for="cargo">Code</label>
		<textarea type="text" name="cargo" rows="10" cols="60" wrap="hard"></textarea>

		<label for="author">Author</label>
		<input type="text" name="author">

		<div class="submit-holder">
		<input type="submit" name= "send" value="Send to DB">
		</div>

	</form>

</body>
</html>