<!DOCTYPE html>
<html>
<head>
	<title>Ruby Virtual Reality</title>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="css/style-hello.css">
</head>
<body>
	<h1>Hello WoVRd!</h1>

	<p>Welcome to Ruby Virtual Reality. This blueprint is meant to help you build cybernetic VR experiences, which means:</p>

	<ul>
		<li>WebVR (A-frame) as the canvas</li>
		<li>Concurrent users</li>
		<li>Restful API</li>
		<li>Asincronous queries (jQuery) in 3D</li>
		<li>Runtime console (Dungeon Master)</li>
		<li>Controllers, controllers, controllers!</li>
	</ul>

	<p>...which implies:</p>

	<ul>
		<li>Flow > Graphics</li>
		<li>Interacting > Watching</li>
		<li>Connected > Lonely</li>
	</ul>

	<h1>What's in here?</h1>

	<ul>
		<li><a href="<%= url('/basic') %>" target="_blank">Basic scene.</a> A comprehensive look into the basic VR setup with A-frame.</li>
		
		<li><a href="<%= url('/floating-messages') %>" target="_blank">Floating Messages.</a> A 3D scene to which you can send messages asymetrically through <a href="<%= url('/floating-messages-sender') %>" target="_blank">this form</a>, that uses jQuery and SQLite to work.</li>
	</ul>
</body>
</html>