body {
  font-family: Helvetica, Arial, sans-serif;
  color: #33313b;
  background-color: #f6f5f5;
  padding:50px;
  margin:0px;
}

a {
	color: #4592af;
}

li a {
	font-weight: bold;
}

li {
	margin-bottom: 5px;
}